@{
    ViewData["Title"] = "Home Page";
}

@*<h1>@ViewData["Title"]</h1>

<p>Click category to view category list.</p>*@

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>Click category to view category list</p>
</div>
